// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "../../../node_modules/materialize-css/sass/materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}